.neonText {
    color: #fff;
    // font-family: "Sacramento", sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f09,
        0 0 82px #f09,
        0 0 92px #f09,
        0 0 102px #f09,
        0 0 151px #f09;
}

// @media screen and (prefers-reduced-motion) { 
//     h1 {
//       animation: none;
//     }
//   }

.flex {
    display: flex;
}

.push {
    margin: 0px;
    padding: 0px;
    margin-left: auto;
}
