// 	dimensions
$icon-size: 25px;

// 	colors
$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);

$background-bright: rgb(235 234 225); // rgb(226,224,200);
$background-dark: rgb(75, 75, 75); // rgb(226,224,200);
$highlight-bright: rgb(238, 114, 148);
$highlight-dark: rgb(171, 52, 88);
$second-bright: rgb(101, 187, 205);
$second-middel: rgb(50, 150, 225);
$second-dark: rgb(1, 101, 215);

$icon-background: $background-bright;

// set 1 #ee7752, #e73c7e, #23a6d5, #23d5ab